// for ipad or small laptops
@include mediamd {
     nav {
         .navbar-collapse {
      position: fixed;
        top:0%;
        left:0;
        padding:0 25px;
        width:100%;
        height:100vh;
        color:#fff;
        opacity: 0.8;

         .box{
             top:0;
             left:0;
             width:100%;
             height: 50vh;
             background:lighten($primary-color,10);
             transform: translate3d(-100%,0,0);
             @include easeOut; 

             &.show {
                transform: translate3d(0,0,0);
            }

          
               
         .image  {
        top:10%;
        left:30%;
        height:40%;
        width:50%;
        border: 3px solid green;
        border-radius: 50%;
        

        
         }

     }

     .box-1 {
         width:100%;
         height:50vh;
         background: darken($primary-color,4);
         transform: translate3d(100%,0,0);
             @include easeOut; 

              &.show {
                transform: translate3d(0,0,0);
            }

         ul {
             position: absolute;
            top:22% !important;
            left:30% !important;
            color:#fff;
            

            & a {
                font-size: 25px;
                
            }
            & a:hover {
                color:$secondary-color;
            }
         }

     }
        }

     }

     // about me page
     body {
         .cont-2 {
             
             .image {
                position: absolute;
                 width:100%;
                 height:100%;
                 top:10px;
             }
             h1 {
                 
                 font-size:25px;
                 margin-top:12rem;

                }

                h4 {
                    font-size: 18px;
                    margin-left:-3rem !important;
                }

                .lead {
                    font-size:18px;
                    text-align: center;
                    justify-content: center;
                    align-items:center;
                    margin-left:-60px !important;
                    margin-right:60px;
                    
                }
         }

         section {
             h2 {
                 font-size:20px;
             }
         }
     }

    }

    


    // for smartphones 
    @include mediasm {
         nav {
             .box-1 {
                 ul a:hover {
                     color:$secondary-color;
                 }

                 .row {
                     h4{
                         font-size:20px !important;
                     }
                 }
             }
         }


        .cont-1 {
            h1 {
                font-size: 40px;
                margin-top:5rem;
            }
            .heading {
                  font-size: 18px;
                  padding:6px;
                  margin-left: -1.5rem;
            }
        }
    }
