@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include background;
    background-color: $primary-color;
}



.cont-1 {
  
    .gap {
    margin-top:7rem;
    margin-left:10%;
    padding-top: 30px;
}


     .heading {
    padding:0.8rem 1.5rem;
    background: lighten($primary-color, 2);
}

.icons {
    margin-top:20px;

    a {
        
        padding-left:12px;

        span:hover {
            color:$secondary-color;
            @include easeOut();
        }
    }
}
}


a {
    color:#fff;
}

.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}